#player {
  position:absolute;
  width: 100%;
  height: 100%;
}

#menu {
  position:absolute;
  z-index:999;
  width:10%;
  background:#FFF;
  transition: opacity 0.5s;
  opacity:0;
}
#menu:hover {
  opacity:0.5;
}
